DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/delevry_dz?schema=public"
APP_URL="https://sofazi.space"
AUTH_SECRET="replace-with-at-least-32-random-characters"
DEMO_ADMIN_USER="admin@delevry.dz"
DEMO_ADMIN_PASSWORD="ChangeMe-123!"
NODE_ENV="development"